@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Work+Sans:wght@300&display=swap');

/* -------------------- VARIABLES */

/* -------------------- GLOBAL DEFAULTS */

body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    line-height: 2;
}

img{
    max-width: 100%;
    height: auto;
}

a {
    color: coral;
}

/* -------------------- HEADINGS AND TYPE */

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
/* -------------------- LAYOUTS */

.layout-wide {
    background-color: white;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
}


.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    width: 15%;
}



/* -------------------- HEADER */

/* -------------------- NAVIGATION */

.nav-prompt {
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
    color: black;
    padding-top: 3%;
    padding-bottom: 3%;
}

.navigation {
    background-color: white;
}

.main-nav {
    list-style: none;
    padding: 0;
}

.main-nav li {
    text-align: center;
    text-transform: uppercase;

}

.main-nav a {
    color: darksalmon;
    font-weight: bold;
    text-decoration: none;

}

/* this is for navigation for mobile view only */

@media screen and (max-width: 800px)  {
    .nav-inner {
        max-height: 0;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        }

    .nav-inner.open {
        max-height: 100vh;
    }
}


/* this is to hide navigation on desktop */



@media screen and (min-width: 800px) {
    
    .nav-prompt {
        display: none;
    }
     .main-nav{
         display: flex;
         justify-content: space-between;
     }
}

/* -------------------- FOOTER */

/* -------------------- MODULES */

.grid {
    display: grid;
}

@media screen and (min-width: 800px) {

    .grid {
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
    }

    .grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .grid-6 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}